module.exports = {
  type: 'mysql',
  host: 'localhost',
  username: 'root',
  password: 'root',
  database: 'attendance',
  port: 3306,
  entities: [
    'src/**/*.entity.ts',
    'src/**/**/*.entity.ts',
    ,
    'src/**/**/**/*.entity.ts',
  ],
  seeds: ['src/database/seeds/**/*.seed.ts'],
};
